{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "exclude": [
          "babel-plugin-transform-classes"
        ]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
